<div>
  <img src="../public/images/spotify-background.jpeg" alt="spotify image" />
  <form action="/artist-search" method="get">
    <input type="text" id="search_artist" name="artist" />
    <button type="submit">Search an Artist</button>
  </form>
</div>